<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>Circulation Pump</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'hotwater_views/circpump.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="{% static 'hotwater_views/circpump.js' %}"></script>
    <script type="text/javascript">
        $( document ).ready(setupPump);

        function setupPump() {
            let pump = new CircPump('{{ pump }}',
                            'gauge_in_div',
                            'gauge_pump_div',
                            'temp_chart_div',
                            'pump_chart_div'
                            '{{ host }}/hotwater/api/circpumps/{{ pump }}/data', 10000);
            pump.setup();
        }

    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'view_automation_dashboard' %}">Sorrel Hills</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_heating_dashboard' %}">Heating<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'view_hotwater_dashboard' %}">Hot Water<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_devices_dashboard' %}">Devices<span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <h6>{{ pump }}</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="gauge_in_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <div id="gauge_pump_div"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="pump_chart_div" style=" width: 100%; height: 300px"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="temp_chart_div" style=" width: 100%; height: 300px"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
