<!DOCTYPE html>
<html lang="en">
{% load static %}
{% comment %}
Display water heaters and circulation pump
{% endcomment %}
<head>
    <title>Hot Water Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'hotwater_views/circpump.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="{% static 'hotwater_views/waterheater.js' %}"></script>
    <script src="{% static 'hotwater_views/circpump.js' %}"></script>
    <script type="text/javascript">
        $( document ).ready(dashSetup);

        function dashSetup() {
            {% for hname in heaters %}
                {
                    let heater = new WaterHeater('{{ hname }}',
                        '{{ hname }}_gauge_in_div',
                        '{{ hname }}_gauge_out_div',
                        '{{ hname }}_gauge_burn_div',
                        '{{ hname }}_chart_div',
                        `{{ host }}/hotwater/api/waterheaters/{{ hname }}/data`, 10000);
                    heater.setup();
                }
            {% endfor %}

            {% for pname in pumps %}
                {
                    let pump = new CircPump('{{ pname }}',
                        '{{ pname }}_gauge_in_div',
                        '{{ pname }}_gauge_pump_div',
                        '{{ pname }}_chart_in_div',
                        '{{ pname }}_chart_pump_div',
                        '{{ host }}/hotwater/api/circpumps/{{ pname }}/data', 10000);
                    pump.setup();
                }
            {% endfor %}
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'view_automation_dashboard' %}">Automation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'view_heating_dashboard' %}">Heating<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_hotwater_dashboard' %}">Hot Water<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_devices_dashboard' %}">Sensors<span class="sr-only">(current)</span></a>
              </li>
          </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
        {% for hname in heaters %}
        <div class="row">
            <div class="col">
                <h6>{{ hname }}</h6>
            </div>
        </div>
         <div class="row mt-3">
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="{{ hname }}_gauge_in_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="{{ hname }}_gauge_out_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="{{ hname }}_gauge_burn_div" style="width: 100%;"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="{{ hname }}_chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        {% endfor %}
        {% for pname in pumps %}
        <div class="row">
            <div class="col">
                <h6>{{ pname }}</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="{{ pname }}_gauge_in_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <div id="{{ pname }}_gauge_pump_div"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="{{ pname }}_chart_in_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="{{ pname }}_chart_pump_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
