<!DOCTYPE html>
<html lang="en">
<head>
    <title>Water Heater</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script type="text/javascript">
        $( document ).ready(setupHeater);

        var heater;
        var offset = new Date().getTimezoneOffset() * 60 * 1000;

        function WaterHeater(name, in_div, out_div, burn_div, chart_div) {
            this.name = name;
            this.chartConfig = {
                type: 'line',
                data: {
                    datasets: [{
                        label: 'IN',
                        borderColor: 'orange',
                        fill: false,
                        pointRadius: 0,
                        data: [],
                    }, {
                        label: 'OUT',
                        borderColor: 'skyblue',
                        fill: false,
                        pointRadius: 0,
                        data: [],
                    }, {
                        label: 'BURN',
                        borderColor: 'red',
                        fill: false,
                        pointRadius: 0,
                        data: [],
                    }]
                },
                options: {
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            type: 'time',
                            ticks: {
                                stepSize: 10
                            },
                            time: {
                                unit: 'minute',
                                displayFormats: {minute: 'MM-DD HH:mm'}
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'Time'
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMin: 30,
                                suggestedMax: 180,
                                stepSize: 30
                            },
                            scaleLabel: {
                                display: true,
                                labelString: 'temp'
                            }
                        }]
                    },
                }
            };
            this.gaugeIn = new RadialGauge({
                renderTo: in_div,
                title: 'IN',
                width: 200, height: 200,
                units: 'F', minValue: 30, maxValue: 180,
                majorTicks: ['30', '60', '90', '120', '150', '180'],
                minorTicks: 6,
                highlights: [{from: 30, to: 60, color: 'skyblue'},
                    {from: 60, to: 90, color: 'aliceblue'},
                    {from: 90, to: 120, color: 'yellow'},
                    {from: 120, to: 150, color: 'orange'},
                    {from: 150, to: 180, color: 'red'}
                ],
                valueBox: true,
                value: 30
            });
            this.gaugeOut = new RadialGauge({
                renderTo: out_div,
                title: 'OUT',
                width: 200, height: 200,
                units: 'F', minValue: 30, maxValue: 180,
                majorTicks: ['30', '60', '90', '120', '150', '180'],
                minorTicks: 6,
                highlights: [{from: 30, to: 60, color: 'skyblue'},
                    {from: 60, to: 90, color: 'aliceblue'},
                    {from: 90, to: 120, color: 'yellow'},
                    {from: 120, to: 150, color: 'orange'},
                    {from: 150, to: 180, color: 'red'}
                ],
                valueBox: true,
                value: 30
            });
            this.gaugeBurn = new RadialGauge({
                renderTo: burn_div,
                title: 'BURN',
                width: 200, height: 200,
                units: 'F', minValue: 30, maxValue: 270,
                majorTicks: ['30', '60', '90', '120', '150', '180', '210', '240', '270'],
                minorTicks: 6,
                highlights: [{from: 30, to: 60, color: 'skyblue'},
                    {from: 60, to: 90, color: 'aliceblue'},
                    {from: 90, to: 120, color: 'yellow'},
                    {from: 120, to: 150, color: 'orange'},
                    {from: 150, to: 270, color: 'red'}
                ],
                valueBox: true,
                value: 30
            });
            var ctx = document.getElementById(chart_div).getContext('2d');
            this.lineChart = new Chart(ctx, this.chartConfig);
            this.updateData = function(adata, shift) {
                let sindata = adata['data']['sensor_in']['data']
                let soutdata = adata['data']['sensor_out']['data']
                let sburndata = adata['data']['sensor_burn']['data']
                let numpts = adata['data']['sensor_in']['count'];
                if (numpts > 0) {
                    this.gaugeIn.value = sindata[0]['attributes']['value'];
                    this.gaugeOut.value = soutdata[0]['attributes']['value'];
                    this.gaugeBurn.value = sburndata[0]['attributes']['value'];
                    // reverse load
                    for (let i = numpts - 1; i >= 0; i--) {
                        this.lineChart.data.datasets[0].data.push({
                            t: sindata[i]['attributes']['timestamp'] - offset,
                            y: sindata[i]['attributes']['value']
                        });
                        this.lineChart.data.datasets[1].data.push({
                            t: soutdata[i]['attributes']['timestamp'] - offset,
                            y: soutdata[i]['attributes']['value']
                        });
                        this.lineChart.data.datasets[2].data.push({
                            t: sburndata[i]['attributes']['timestamp'] - offset,
                            y: sburndata[i]['attributes']['value']
                        });
                    }
                    if (shift) {
                        // remove extras
                        for (let i = 0; i < this.lineChart.data.datasets[0].data.length - 9000; i++) {
                            this.lineChart.data.datasets[0].data.shift();
                            this.lineChart.data.datasets[1].data.shift();
                            this.lineChart.data.datasets[2].data.shift();
                        }
                    }
                }
            };
            this.draw = function () {
                this.gaugeIn.draw();
                this.gaugeOut.draw();
                this.gaugeBurn.draw();
                this.lineChart.update();
            };
        }

        function startHeater(adata) {
            heater.updateData(adata, false);
            heater.draw();
            setTimeout(startUpdateHeater, 10000);
        }

        function updateHeater(adata) {
            heater.updateData(adata, true);
            heater.draw();
            setTimeout(startUpdateHeater, 10000)
        }

        function startUpdateHeater() {
            let sts = new Date(ts);
            ts = new Date();
            $.getJSON('{{ host }}/hotwater/api/waterheaters/{{ heater }}/data',
                {'starttime': sts.toISOString(), 'endtime': ts.toISOString(), 'datapts': 9000},
                updateHeater);
        }

        function setupHeater() {
            heater = new WaterHeater('WHEAT1', 'gauge_in_div', 'gauge_out_div', 'gauge_burn_div', 'chart_div');
            let sts = new Date();
            ts = new Date(sts);
            sts.setHours(sts.getHours() - 24);
            $.getJSON('{{ host }}/hotwater/api/waterheaters/{{ heater }}/data',
                {'starttime': sts.toISOString(), 'endtime': ts.toISOString(), 'datapts': 9000 },
                startHeater);
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Water Heater</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'view_heating_dashboard' %}">Heating<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_hotwater_dashboard' %}">Hot Water<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_devices_dashboard' %}">Devices<span class="sr-only">(current)</span></a>
        </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
        <div class="row mt-3">
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="gauge_in_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="gauge_out_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-4 col-lg-4 col-xl-2">
                <canvas id="gauge_burn_div" style="width: 100%;"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="chart_div" style=" width: 100%; height: 300px"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
