[Unit]
Description=relaycapture daemon
Requires=mosquitto.service
After=network.target multi-user.target mosquitto.service

[Service]
User=rjn
Group=www-data
WorkingDirectory=/home/rjn/Deployments/automation
ExecStart=/home/rjn/Deployments/automation/venv/bin/python /home/rjn/Deployments/automation/manage.py relaycapture

[Install]
WantedBy=multi-user.target
