[Unit]
Description=datacapture daemon
Requires=mosquitto.service
After=network.target multi-user.target mosquitto.service

[Service]
User=rjn
Group=www-data
WorkingDirectory=/home/ubuntu/automation
ExecStart=/home/ubuntu/automation/venv/bin/python /home/ubuntu/automation/manage.py tempcapture

[Install]
WantedBy=multi-user.target
