[Unit]
Description=datacapture daemon
Requires=mosquitto.service
After=network.target multi-user.target mosquitto.service

[Service]
User=rjn
Group=www-data
WorkingDirectory=/home/rjn/Projects/automation
ExecStart=/home/rjn/Projects/automation/venv/bin/python /home/rjn/Projects/automation/manage.py tempcapture

[Install]
WantedBy=multi-user.target
