<!DOCTYPE html>
<html lang="en">
{% load static %}
{% comment %}
Display heating system
{% endcomment %}
<head>
  <title>Heating Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="{% static 'heating/zone.js' %}"></script>
    <script src="{% static 'heating/boiler.js' %}"></script>
    <script src="{% static 'heating/mixingvalve.js' %}"></script>
  <script type="text/javascript">
        $( document ).ready(dashSetup);

        function dashSetup() {
            {% for zname in zones %}
                {
                    let zone= new Zone('{{ zname }}',
                        null,
                        null,
                        '{{ zname }}_chart_div',
                        `{{ host }}/heating/api/zones/{{ zname }}/data`, 10000);
                    zone.setupZone();
                }
            {% endfor %}

            {% for bname in boilers %}
                {
                    let boiler = new Boiler('{{ bname }}',
                        null,
                        null,
                        null,
                        '{{ bname }}_chart_div',
                        '{{ host }}/heating/api/boilers/{{ bname }}/data', 10000);
                    boiler.setupBoiler();
                }
            {% endfor %}

            {% for vname in valves %}
                {
                    let valve = new MixingValve('{{ vname }}',
                        null,
                        null,
                        null,
                        '{{ vname }}_chart_div',
                        '{{ host }}/heating/api/mixingvalves/{{ vname }}/data', 10000);
                    valve.setupValve();
                }
            {% endfor %}
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Hot Water</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'view_heating_dashboard' %}">Heating<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_hotwater_dashboard' %}">Hot Water<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_devices_dashboard' %}">Sensors<span class="sr-only">(current)</span></a>
              </li>
          </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
        {% for zname in zones %}
        <div class="row">
            <div class="col">
                <h6>{{ zname }}</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="{{ zname }}_chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        {% endfor %}

        {% for bname in boilers %}
        <div class="row">
            <div class="col">
                <h6>{{ bname }}</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="{{ bname }}_chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        {% endfor %}

        {% for vname in valves %}
        <div class="row">
            <div class="col">
                <h6>{{ vname }}</h6>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="{{ vname }}_chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
