<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heating Zone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data-2012-2022.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(setupCharts);

        let offset = new Date().getTimezoneOffset() * 60 * 1000;

        let ts;
        let gaugeIn;
        let gaugeOut;
        let lineChart;
        let chartConfig = {
            type: 'line',
            data: {
                datasets: [{
                    label: 'IN',
                    borderColor: 'orange',
                    fill: false,
                    pointRadius: 0,
                    data: [],
                }, {
                    label: 'OUT',
                    borderColor: 'skyblue',
                    fill: false,
                    pointRadius: 0,
                    data: [],
                }]
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        ticks: {
                            stepSize: 10
                        },
                        time: {
                            unit: 'minute',
                            displayFormats: {minute: 'MM-DD HH:mm'},
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            suggestedMin: 30,
                            suggestedMax: 180,
                            stepSize: 30
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'temp'
                        }
                    }]
                },
            }
        };


        function drawCharts() {
            gaugeIn.draw();
            gaugeOut.draw();
            lineChart.update();
        }


        function startData(adata) {
            for (let sensor in adata['data']) {
                let slist = adata['data'][sensor]['data'];
                let numpts = slist.length;
                if (numpts > 0) {
                    if (sensor.endsWith('-IN') || sensor.endsWith('-INSYS')) {
                        gaugeIn.value = slist[0]['attributes']['value'];
                        // reverse load
                        for (let i = 0; i < numpts; i++) {
                            lineChart.data.datasets[0].data.unshift({t: slist[i]['attributes']['timestamp']-offset, y: slist[i]['attributes']['value']});
                        }
                    } else if (sensor.endsWith('-OUT')) {
                        gaugeOut.value = slist[0]['attributes']['value'];
                        // reverse load
                        for (let i = 0; i < numpts; i++) {
                            lineChart.data.datasets[1].data.unshift({t: slist[i]['attributes']['timestamp']-offset, y: slist[i]['attributes']['value']});
                        }
                    }
                }
            }
            drawCharts();
            setTimeout(startUpdate, 10000);
        }


        function updateData(adata) {
            for (let sensor in adata['data']) {
                let slist = adata['data'][sensor]['data'];
                let numpts = slist.length;
                if (numpts > 0) {
                    if (sensor.endsWith('-IN') || sensor.endsWith('-INSYS')) {
                        gaugeIn.value = slist[0]['attributes']['value'];
                        // reverse load
                        for (let i = numpts-1; i >= 0; i--) {
                            lineChart.data.datasets[0].data.push({t: slist[i]['attributes']['timestamp']-offset, y: slist[i]['attributes']['value']});
                        }
                        // remove extras
                        for (let i = 0; i < lineChart.data.datasets[0].data.length - 9000; i++) {
                            lineChart.data.datasets[0].data.shift();
                        }
                    } else if (sensor.endsWith('-OUT')) {
                        gaugeOut.value = slist[0]['attributes']['value'];
                        // reverse load
                        for (let i = numpts-1; i >= 0; i--) {
                            lineChart.data.datasets[1].data.push({t: slist[i]['attributes']['timestamp']-offset, y: slist[i]['attributes']['value']});
                        }
                        // remove extras
                        for (let i = 0; i < lineChart.data.datasets[0].data.length - 9000; i++) {
                            lineChart.data.datasets[1].data.shift();
                        }
                    }
                }
            }
            drawCharts();
            setTimeout(startUpdate, 5000);
        }


        function startUpdate() {
		    let sts = new Date(ts);
            ts = new Date();
            $.getJSON('{{ host }}/heating/api/zones/{{ zone }}/data',
                { 'starttime': sts.toISOString(), 'endtime': ts.toISOString(), 'datapts': 9000 },
                updateData);
        }


        function setupCharts() {
            gaugeIn = new RadialGauge({renderTo: 'gauge_in_div',
                title: 'IN',
                width: 250, height: 250,
                units: 'F', minValue: 30, maxValue: 180,
                majorTicks: ['30', '60', '90', '120', '150', '180'],
                minorTicks: 6,
                highlights: [{ from: 30, to: 60, color: 'skyblue' },
                    { from: 60, to: 90, color: 'aliceblue' },
                    { from: 90, to: 120, color: 'yellow' },
                    { from: 120, to: 150, color: 'orange' },
                    { from: 150, to: 180, color: 'red' }
                ],
                valueBox: true,
                value: 30});
            gaugeOut = new RadialGauge({renderTo: 'gauge_out_div',
                title: 'OUT',
                width: 250, height: 250,
                units: 'F', minValue: 30, maxValue: 180,
                majorTicks: ['30', '60', '90', '120', '150', '180'],
                minorTicks: 6,
                highlights: [{ from: 30, to: 60, color: 'skyblue' },
                    { from: 60, to: 90, color: 'aliceblue' },
                    { from: 90, to: 120, color: 'yellow' },
                    { from: 120, to: 150, color: 'orange' },
                    { from: 150, to: 180, color: 'red' }
                ],
                valueBox: true,
                value: 30});
            let ctx = document.getElementById('chart_div').getContext('2d');
            lineChart = new Chart(ctx, chartConfig);
            let sts = new Date();
            ts = new Date(sts);
            sts.setHours(sts.getHours() - 24);
            $.getJSON('{{ host }}/heating/api/zones/{{ zone }}/data',
                {'starttime': sts.toISOString(), 'endtime': ts.toISOString(), 'datapts': 9000 },
                startData);
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Zone {{ zone }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'view_heating_dashboard' %}">Heating<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_hwcirc_dashboard' %}">Hot Water<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_sensors_dashboard' %}">Sensors<span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Zones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for zone in zones %}
                  <a class="dropdown-item" href="{% url 'view_heating_zone' zone.name %}">{{ zone.name }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid mt-3">
        <div class="row mt-3">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <canvas id="gauge_in_div" style="width: 100%;"></canvas>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <canvas id="gauge_out_div" style="width: 100%;"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
