<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heating Zone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart', 'line', 'gauge']});
      google.charts.setOnLoadCallback(setupChart);

      var goptions = {
        width: 600, height: 300,
        greenFrom: 90, greenTo: 120,
        greenColor: "yellow",
        yellowFrom:120, yellowTo: 150,
        yellowColor: "orange",
        redFrom: 150, redTo: 200,
        minorTicks: 5,
        max: 200
      };
      var gdata;
      var gauges;
      var coptions = {
          chartArea: {width: '90%', height: '80%'},
          title: 'Last 24 Hours',
          legend: {position: 'in'},
          hAxis: {
              title: 'Time',
          },
          vAxis: {
              title: 'Temperature',
              maxValue: 200,
              minValue: 30
          },
          colors: ['orange', 'skyblue']
      };
      var cdata;
      var chart;
      var ts;


      function strToDate(its) {
          var year = Number(its.substr(0, 4));
          var month = Number(its.substr(5, 2))-1;
          var day = Number(its.substr(8, 2));
          var hour = Number(its.substr(11, 2));
          var minute = Number(its.substr(14, 2));
          var second = Number(its.substr(17, 2));

          return new Date(year, month, day, hour, minute, second);
      }


      function curDateStr() {
          var d = new Date();
          return d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
              ("0" + d.getDate()).slice(-2) + "-" + ("0" + d.getHours()).slice(-2) + "-" +
              ("0" + d.getMinutes()).slice(-2) + "-" + ("0" + d.getSeconds()).slice(-2);
      }


      function drawCharts() {
          gauges.draw(gdata, goptions);
          chart.draw(cdata, coptions);
      }


      function updateData(adata) {
          for (let sensor in adata['data']) {
              let slist = adata['data'][sensor]['data'];
              if (sensor.endsWith('-IN') || sensor.endsWith('-INSYS')) {
                  gdata.setValue(0, 1, Number(slist[0]['attributes']['value_real']));
                  // reverse load
                  let j = 9000;
                  for (let i=0; i < 9000; i++) {
                      --j;
                      cdata.setValue(i, 0, strToDate(slist[j]['attributes']['timestamp']));
                      cdata.setValue(i, 1, Number(slist[j]['attributes']['value_real']));
                  }
              }
              else if (sensor.endsWith('-OUT')) {
                  gdata.setValue(1, 1, Number(slist[0]['attributes']['value_real']));
                  let j = 9000;
                  for (let i=0; i < 9000; i++) {
                      --j;
                      cdata.setValue(i, 2, Number(slist[j]['attributes']['value_real']));
                  }
              }
          }
          drawCharts();
          setTimeout(startUpdate, 15000);
      }


      function startUpdate() {
          let ts = curDateStr();
        $.getJSON('{{ host }}/zones/BOILER/data',
                    { 'datapts': 9000, 'targettime': ts },
                    updateData);
      }


      function setupChart() {
        gauges = new google.visualization.Gauge(document.getElementById('gauge_div'));
        gdata = google.visualization.arrayToDataTable([['Label', 'Value'],
                                                        ['IN', 0],
                                                        ['OUT', 0]]);
        chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        cdata = new google.visualization.DataTable();
        cdata.addColumn('datetime', 'Time');
        cdata.addColumn('number', 'IN');
        cdata.addColumn('number', 'OUT');
        cdata.addRows(9000);

        startUpdate();
      }
    </script>
    <style>
        .hot {
            {# above 150 #}
            fill: red;
        }
        .very-warm {
            {# 130-150 #}
            fill: orange;
        }
        .warm {
            {# 110-130 #}
            fill: yellow;
        }
        .luke-warm {
            {# 90-110 #}
            fill: aliceblue;
        }
        .cool {
            {# 70-90 #}
            fill: skyblue;
        }
        .cold {
            {# below 70 #}
            fill: deepskyblue;
        }

        .center {
            text-align: center;
            vertical-align: center;
            border: aliceblue;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Zone BOILER</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'settings.DATASERVER_HOST' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Zones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for zone in zones %}
                  <a class="dropdown-item" href="{% url 'view_zone' zone.id %}">{{ zone.id }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid mt-3">
        <div class="row mt-3">
            <div class="col">
                <div id="gauge_div" style="width: 100%;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div id="chart_div" style="width: 100%; height: 750px;"></div>
            </div>
        </div>

    </div>

</body>
</html>
