<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(setupCharts);

		function strToDate(its) {
            var year = Number(its.substr(0, 4));
            var month = Number(its.substr(5, 2))-1;
            var day = Number(its.substr(8, 2));
            var hour = Number(its.substr(11, 2));
            var minute = Number(its.substr(14, 2));
            var second = Number(its.substr(17, 2));
            return new Date(year, month, day, hour, minute, second);
        }


        function setupCharts() {
		    $.getJSON('{{ host }}/zones/{{ zone }}/data',
                    { 'datapts': 9000 },
                    function(adata) {
                        let data = {series: []};
                        for (let sensor in adata['data']) {
                            let j = adata['data'][sensor]['count'];
                            let slist = adata['data'][sensor]['data'];
                            let series = {name: sensor, data: []};
                            // reverse load
                            let c = j;
                            for (let i = 0; i < c; i++) {
                                --j;
                                let pt = {x: strToDate(slist[j]['attributes']['timestamp']),
                                          y: Number(slist[j]['attributes']['value'])};
                                series['data'].push(pt);
                            }
                            data['series'].push(series);
                        }
                        let o = {
                            showPoint: false,
                            height: 500,
                            width: "100%",
                            low: 20,
                            high: 200,
                            lineSmooth: true,
                            axisX: {
                                type: Chartist.FixedScaleAxis,
                                divisor: 20,
                                scaleMinSpace: 100,
                                labelInterpolationFnc: function (value) {
                                    return moment(value).format("DD-MM HH:mm");
                                }
                            },
                            axisY: {
                                onlyInteger: true,
                                scaleMinSpace: 20,
                            }
                        };
                        new Chartist.Line('.ct-chart', data, o);
                    }
            );
        }
    </script>
</head>
<body>
    <div class="ct-chart"></div>
</body>
</html>
