<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heating Comparison</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script type="text/javascript">
        $( document ).ready(setupCharts);

        let offset = new Date().getTimezoneOffset() * 60 * 1000;

        let dsidxs = {};
        let ts = {};
        let chart = null;
        let chartConfig = {
            type: 'line',
            data: {
                datasets: []
            },
            options: {
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        type: 'time',
                        ticks: {
                            stepSize: 10
                        },
                        time: {
                            unit: 'minute',
                            displayFormats: {minute: 'MM-DD HH:mm'}
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Time'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            suggestedMin: 30,
                            suggestedMax: 270,
                            stepSize: 30
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'temp'
                        }
                    }]
                },
            },
        };


        function loadData(adata, sensor_name) {
          let slist = adata['data'];
          let numpts = adata['count'];
          if (numpts > 0) {
              // reverse load
              for (let i = 0; i < numpts; i++) {
                  chartConfig.data.datasets[dsidxs[sensor_name]].data.unshift({t: slist[i]['attributes']['timestamp'], y: slist[i]['attributes']['value']});
              }
          }
          chart.update();
      }


      function updateData(adata, sensor_name) {
          let slist = adata['data'];
          let numpts = adata['count'];
          if (numpts > 0) {
              // reverse load
              for (let i = numpts-1; i >= 0; i--) {
                  chart.data.datasets[dsidxs[sensor_name]].data.push({t: slist[i]['attributes']['timestamp'], y: slist[i]['attributes']['value']});
              }
              // remove extras
              for (let i = 0; i < chart.data.datasets[0].data.length - 9000; i++) {
                  chart.data.datasets[dsidxs[sensor_name]].data.shift();
              }
          }
          chart.update();
      }


      {% for sensor in sensors %}
          function {{ sensor.name|cut:"-" }}updateData(adata) {
              updateData(adata, '{{ sensor.name }}');
              //schedule next update
              setTimeout({{ sensor.name|cut:"-" }}queryData, 30000);
          }

          function {{ sensor.name|cut:"-" }}queryData() {
              // fire off an update
              let sts = new Date(ts['{{ sensor.name }}']);
              ts['{{ sensor.name }}'] = new Date();
              let args = { 'starttime': sts.toISOString(),
                           'endtime': ts['{{ sensor.name }}'].toISOString(),
                           'datapts': 9000};
              $.getJSON('{{ host }}/sensors/{{ sensor.name }}/data', args, {{ sensor.name|cut:"-" }}updateData);
          }

          function {{ sensor.name|cut:"-" }}loadData(adata) {
              loadData(adata, '{{ sensor.name }}');
              setTimeout({{ sensor.name|cut:"-" }}queryData, 30000);
          }

          function {{ sensor.name|cut:"-" }}SetupChart() {
              // for each zone fire off an update
              let sts = new Date();
              ts['{{ sensor.name }}'] = new Date(sts);
              sts.setHours(sts.getHours() - {{ datapts }});
              let args = {'starttime': sts.toISOString(),
                          'endtime': ts['{{ sensor.name }}'].toISOString(),
                          'datapts': 9000};
              $.getJSON('{{ host }}/sensors/{{ sensor.name }}/data', args, {{ sensor.name|cut:"-" }}loadData);
          }
      {%  endfor %}


    function get_random_color() {
      function c() {
          let hex = Math.floor(Math.random() * 256).toString(16);
          return ("0"+String(hex)).substr(-2); // pad with zero
      }
      return "#"+c()+c()+c();
    }


    function setupCharts() {
        let x = 0;
        {% for sensor in sensors %}
            dsidxs['{{ sensor.name }}'] = x;
            chartConfig.data.datasets[x] = {
                label: '{{ sensor.name }}',
                borderColor: get_random_color(),
                fill: false,
                pointRadius: 0,
                data: [],
            };
            ++x;
        {%  endfor %}
        let ctx = document.getElementById('chart_div').getContext('2d');
        chart = new Chart(ctx, chartConfig);
        {% for sensor in sensors %}
            {{ sensor.name|cut:"-" }}SetupChart();
        {%  endfor %}
    }
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Zone Comparison</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'view_heating_dashboard' %}">Heating<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_hwcirc_dashboard' %}">Hot Water<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'view_sensors_dashboard' %}">Sensors<span class="sr-only">(current)</span></a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Zones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for zone in allzones %}
                  <a class="dropdown-item" href="{% url 'view_heating_zone' zone.name %}">{{ zone.name }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <h6>Comparison</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <canvas id="chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
    </div>

</body>
</html>
