<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heating Comparison</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script type="text/javascript">
        $( document ).ready(setupCharts);

        {% for zone in zones %}
            var {{ zone.name }}Config = {
                ts: null,
                chart: null,
                chartConfig: {
                    type: 'line',
                    data: {
                        datasets: []
                    },
                    options: {
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                type: 'time',
                                distribution: 'linear',
                                ticks: {
                                    stepSize: 30
                                },
                                time: {
                                    unit: 'minute',
                                    displayFormats: {minute: 'MM-DD HH:mm'}
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Time'
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    suggestedMin: 30,
                                    suggestedMax: 270,
                                    stepSize: 30
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'temp'
                                }
                            }]
                        },
                    },
                }
            };
        {% endfor %}

      function strToDate(ts) {
          var year = Number(ts.substr(0, 4));
          var month = Number(ts.substr(5, 2))-1;
          var day = Number(ts.substr(8, 2));
          var hour = Number(ts.substr(11, 2));
          var minute = Number(ts.substr(14, 2));
          var second = Number(ts.substr(17, 2));
          return new Date(year, month, day, hour, minute, second);
      }

      function curDateStr() {
          var d = new Date();
          return d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
              ("0" + d.getDate()).slice(-2) + "T" + ("0" + d.getHours()).slice(-2) + ":" +
              ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);
      }


      function loadData(adata, chart, chartConfig) {
          for (let sensor in adata['data']) {
              let slist = adata['data'][sensor]['data'];
              let numpts = adata['data'][sensor]['count'];
              if (numpts > 0) {
                  if (sensor.endsWith('-IN') || sensor.endsWith('-INSYS')) {
                      chartConfig.data.datasets[0] = {
                          label: 'IN',
                          borderColor: 'orange',
                          fill: false,
                          pointRadius: 0,
                          data: new Array(9000)
                      };
                      for (let i = 0; i < 9000 - numpts; i++) {
                          chartConfig.data.datasets[0].data[i] = {
                              t: strToDate(slist[numpts-1]['attributes']['timestamp']),
                              y: Number(slist[numpts-1]['attributes']['value'])
                          };
                      }
                      let j = numpts;
                      for (let i = 9000 - numpts; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[0].data[i] = {
                              t: strToDate(slist[j]['attributes']['timestamp']),
                              y: Number(slist[j]['attributes']['value'])
                          };
                      }
                  } else if (sensor.endsWith('-OUT')) {
                      chartConfig.data.datasets[1] = {
                            label: 'OUT',
                            borderColor: 'skyblue',
                            fill: false,
                            pointRadius: 0,
                            data: new Array(9000),
                        };
                      for (let i = 0; i < 9000 - numpts; i++) {
                          chartConfig.data.datasets[1].data[i] = {
                              t: strToDate(slist[numpts-1]['attributes']['timestamp']),
                              y: Number(slist[numpts-1]['attributes']['value'])
                          };
                      }
                      let j = numpts;
                      for (let i = 9000 - numpts; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[1].data[i] = {
                              t: strToDate(slist[j]['attributes']['timestamp']),
                              y: Number(slist[j]['attributes']['value'])
                          };
                      }
                  } else if (sensor.endsWith('-BURN')) {
                      chartConfig.data.datasets[2] = {
                            label: 'BURN',
                            borderColor: 'red',
                            fill: false,
                            pointRadius: 0,
                            data: new Array(9000),
                      };
                      for (let i = 0; i < 9000 - numpts; i++) {
                          chartConfig.data.datasets[2].data[i] = {
                              t: strToDate(slist[numpts-1]['attributes']['timestamp']),
                              y: Number(slist[numpts-1]['attributes']['value'])
                          };
                      }
                      let j = numpts;
                      for (let i = 9000 - numpts; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[2].data[i] = {
                              t: strToDate(slist[j]['attributes']['timestamp']),
                              y: Number(slist[j]['attributes']['value'])
                          };
                      }
                  }
              }
          }
          chart.update();
      }


      function updateData(adata, chart, chartConfig) {
          for (let sensor in adata['data']) {
              let slist = adata['data'][sensor]['data'];
              let numpts = slist.length;
              if (numpts > 0) {
                  if (sensor.endsWith('-IN')) {
                      // load initial
                      for (let i = 0; i < 9000 - numpts; i++) {
                          chartConfig.data.datasets[0].data[i] = chartConfig.data.datasets[0].data[i + numpts];
                      }
                      // reverse load
                      let j = numpts;
                      for (let i = 9000 - numpts; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[0].data[i] = {
                              t: strToDate(slist[j]['attributes']['timestamp']),
                              y: Number(slist[j]['attributes']['value'])
                          };
                      }
                  } else if (sensor.endsWith('-OUT')) {
                      // shift arrays
                      for (let i = 0; i < 9000 - numpts; i++) {
                          chartConfig.data.datasets[1].data[i] = chartConfig.data.datasets[1].data[i + numpts];
                      }
                      // reverse load
                      let j = numpts;
                      for (let i = 9000 - numpts; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[1].data[i] = {
                              t: strToDate(slist[j]['attributes']['timestamp']),
                              y: Number(slist[j]['attributes']['value'])
                          };
                      }
                  } else if (sensor.endsWith('-BURN')) {
                      // shift arrays
                      for (let i = 0; i < 9000 - numpts; i++) {
                          chartConfig.data.datasets[2].data[i] = chartConfig.data.datasets[2].data[i + numpts];
                      }
                      // reverse load
                      let j = numpts;
                      for (let i = 9000 - numpts; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[2].data[i] = {
                              t: strToDate(slist[j]['attributes']['timestamp']),
                              y: Number(slist[j]['attributes']['value'])
                          };
                      }
                  }
              }
          }
          chart.update();
      }


      {% for zone in zones %}
          function {{ zone.name }}updateData(adata) {
              updateData(adata, {{ zone.name }}Config['chart'], {{ zone.name }}Config['chartConfig']);
              //schedule next update
              setTimeout({{ zone.name }}queryData, 30000);
          }

          function {{ zone.name }}queryData() {
              // fire off an update
              let sts = {{ zone.name }}Config['ts'];
              {{ zone.name }}Config['ts'] = curDateStr();
              let args = { 'starttime': sts, 'endtime': {{ zone.name }}Config['ts'], 'datapts': 9000 };
              $.getJSON('{{ host }}/zones/{{ zone.name }}/data', args, {{ zone.name }}updateData);
          }

          function {{ zone.name }}loadData(adata) {
              loadData(adata, {{ zone.name }}Config['chart'], {{ zone.name }}Config['chartConfig']);
              setTimeout({{ zone.name }}queryData, 30000);
          }

          function {{ zone.name }}SetupChart() {
              let ctx = document.getElementById('{{ zone.name }}chart_div').getContext('2d');
              {{ zone.name }}Config['chart'] = new Chart(ctx, {{ zone.name }}Config['chartConfig']);
              // for each zone fire off an update
              {{ zone.name }}Config['ts'] = curDateStr();
              let args = {'datapts': {{ datapts }}, 'endtime': {{ zone.name }}Config['ts']};
              $.getJSON('{{ host }}/zones/{{ zone.name }}/data', args, {{ zone.name }}loadData);
          }
      {%  endfor %}

    function setupCharts() {
        {% for zone in zones %}
            {{ zone.name }}SetupChart();
        {%  endfor %}
    }
    </script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Zone Comparison</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Zones
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for zone in allzones %}
                  <a class="dropdown-item" href="{% url 'view_zone' zone.name %}">{{ zone.name }}</a>
                {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid mt-3">
        {% for zone in zones %}
        <div class="row">
            <div class="col">
                <h6>{{ zone.name }}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <canvas id="{{ zone.name }}chart_div" style=" width: 100%; height: 400px"></canvas>
            </div>
        </div>
        {% endfor %}
    </div>

</body>
</html>
