<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heating Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(updateData);

      function strToDate(ts) {
          var year = Number(ts.substr(0, 4));
          var month = Number(ts.substr(5, 2));
          var day = Number(ts.substr(8, 2));
          var hour = Number(ts.substr(11, 2));
          var minute = Number(ts.substr(14, 2));
          var second = Number(ts.substr(17, 2));

          return new Date(year, month, day, hour, minute, second);
      }


      function curDateStr() {
          var d = new Date();
          return d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
              ("0" + d.getDate()).slice(-2) + "-" + ("0" + d.getHours()).slice(-2) + "-" +
              ("0" + d.getMinutes()).slice(-2) + "-" + ("0" + d.getSeconds()).slice(-2);
      }


      function selectColor(temp) {
          let dclass = 'cold';
          if (temp < 70) {
              dclass = 'cold';
          } else if (temp < 90) {
              dclass = 'cool';
          } else if (temp < 110) {
              dclass = 'luke-warm';
          } else if (temp < 130) {
              dclass = 'warm';
          } else if (temp < 150) {
              dclass = 'very-warm';
          } else {
              dclass = 'hot';
          }
          return dclass;
      }


      function updateData() {
          // for each zone fire off an update
          {% for zone in zones %}
            $.getJSON('{{ host }}/zones/{{ zone.id }}/data',
                    function (adata) {
                        // process data
                        for (let sensor in adata['data']) {
                            let slist = adata['data'][sensor]['data'];
                            if (sensor.endsWith('-IN') || sensor.endsWith('-INSYS')) {
                                let inval = Number(slist[0]['attributes']['value_real']);
                                let timestamp = slist[0]['attributes']['timestamp'];
                                // update data in DOM
                                let newcls = selectColor(inval);
                                let oldcls = $('#' + sensor + '-LED').attr('class');
                                if (oldcls != newcls) {
                                    $('#' + sensor + '-LED').removeClass(oldcls).addClass(newcls);
                                }
                                $('#{{ zone.id }}-TS').text(timestamp)
                            } else if (sensor.endsWith('-OUT')) {
                                let outval = Number(slist[0]['attributes']['value_real']);
                                // update data in DOM
                                let newcls = selectColor(outval);
                                let oldcls = $('#' + sensor + '-LED').attr('class');
                                if (oldcls != newcls) {
                                    $('#' + sensor + '-LED').removeClass(oldcls).addClass(newcls);
                                }
                            }
                        }
                    }
            );
          {%  endfor %}
          //schedule next update
          setTimeout(updateData, 15000);
      }

    </script>
    <style>
        .hot {
            {# above 150 #}
            fill: red;
        }
        .very-warm {
            {# 130-150 #}
            fill: orange;
        }
        .warm {
            {# 110-130 #}
            fill: yellow;
        }
        .luke-warm {
            {# 90-110 #}
            fill: aliceblue;
        }
        .cool {
            {# 70-90 #}
            fill: skyblue;
        }
        .cold {
            {# below 70 #}
            fill: deepskyblue;
        }

        .center {
            text-align: center;
            vertical-align: center;
            border: aliceblue;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Automation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Zones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for zone in zones %}
              <a class="dropdown-item" href="{% url 'zone' zone.id %}">{{ zone.id }}</a>
            {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
    <form role="form" action="/automation/dashboard/heating/all" method="get">
        <div class="row mt-5">
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'MBR' %}"><h5 class="center">MBR</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="MBR">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'MBATH' %}"><h5 class="center">MBATH</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="MBATH">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'LIBRARY' %}"><h5 class="center">LIBRARY</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="LIBRARY">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="MBR-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="MBR-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="MBATH-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="MBATH-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="LIBRARY-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="LIBRARY-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row mt-1">
            <div id="MBR-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="MBATH-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="LIBRARY-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'KITCHEN' %}"><h5 style="text-align: center">KITCHEN</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="KITCHEN">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'LAUNDRY' %}"><h5 style="text-align: center">LAUNDRY</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="LAUNDRY">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'GARAGE' %}"><h5 style="text-align: center">GARAGE</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="GARAGE">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="KITCHEN-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="KITCHEN-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="LAUNDRY-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="LAUNDRY-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="GARAGE-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="GARAGE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="KITCHEN-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="LAUNDRY-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="GARAGE-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'FAMILY' %}"><h5 style="text-align: center">FAMILY ROOM</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="FAMILY">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'OFFICE' %}"><h5 style="text-align: center">OFFICE</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="OFFICE">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'EXERCISE' %}"><h5 style="text-align: center">EXERCISE</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="EXERCISE">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="FAMILY-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="FAMILY-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="OFFICE-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="OFFICE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="EXERCISE-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="EXERCISE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="FAMILY-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="OFFICE-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="EXERCISE-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'GUEST' %}"><h5 style="text-align: center">GUEST BR</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="GUEST">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'VALVE' %}"><h5 style="text-align: center">VALVE</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="VALVE">
                </div>
            </div>
            <div class="col-sm-2 col-lg-1">
                <a href="{% url 'zone' 'BOILER' %}"><h5 style="text-align: center">BOILER</h5></a>
            </div>
            <div class="col-sm-2 col-lg-1">
                <div class="checkbox center">
                    <input type="checkbox" name="BOILER">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">IN</h5>
            </div>
            <div class="col-sm-2 col-lg-1 border">
                <h5 style="text-align: center">OUT</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="GUEST-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="GUEST-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="VALVE-INSYS-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="VALVE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="BOILER-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-sm-2 col-lg-1 center border">
                <svg height="50" width="50">
                    <circle id="BOILER-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="GUEST-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="VALVE-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="BOILER-TS" class="col-sm-4 col-lg-2 center">
                0000-00-00-00-00-00
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-4 col-lg-2 center">
                <div class="checkbox">
                    <label><input type="checkbox" name="ALL"> ALL</label>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2 center">
                <div class="form-group">
                    <label for="tsel">History:</label>
                    <select class="form-control" name="datapts" id="tsel">
                        <option value="360">1 hr</option>
                        <option value="1080">3 hr</option>
                        <option value="2160">6 hr</option>
                        <option value="4320">12 hr</option>
                        <option value="8640">24 hr</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 col-lg-2 center">
                <button type="submit" class="btn btn-default border">Compare</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>
