<!DOCTYPE html>
<html lang="en">
<head>
  <title>Heating Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">

      $(document).ready(updateData);

      function curDateStr() {
          var d = new Date();
          return d.toISOString();
          // return d.getFullYear() + "-" + ("0" + (d.getMonth() + 1)).slice(-2) + "-" +
          //     ("0" + d.getDate()).slice(-2) + "T" + ("0" + d.getHours()).slice(-2) + ":" +
          //     ("0" + d.getMinutes()).slice(-2) + ":" + ("0" + d.getSeconds()).slice(-2);
      }


      function selectColor(temp) {
          let dclass = 'cold';
          if (temp < 30) {
              dclass = 'cold';
          } else if (temp < 60) {
              dclass = 'cool';
          } else if (temp < 90) {
              dclass = 'luke-warm';
          } else if (temp < 120) {
              dclass = 'warm';
          } else if (temp < 150) {
              dclass = 'very-warm';
          } else {
              dclass = 'hot';
          }
          return dclass;
      }


      function updateData() {
          // for each zone fire off an update
          {% for zone in zones %}
              {
                  let ts = curDateStr();
                  $.getJSON('{{ host }}/zones/{{ zone.name }}/data',
                      {'datapts': 1, 'endtime': ts},
                      function (adata) {
                          // process data
                          let timestamp = null;
                          for (let sensor in adata['data']) {
                              let slist = adata['data'][sensor]['data'];
                              if (slist.length) {
                                  if (!timestamp) {
                                      timestamp = new Date(slist[0]['attributes']['timestamp']);

                                      $('#{{ zone.name }}-TS').text(timestamp.toLocaleString('en-US', { timeZone: 'America/Denver' }));
                                  }
                                  let val = Number(slist[0]['attributes']['value']);
                                  // update data in DOM
                                  let newcls = selectColor(val);
                                  let oldcls = $('#' + sensor + '-LED').attr('class');
                                  if (oldcls != newcls) {
                                      $('#' + sensor + '-LED').removeClass(oldcls).addClass(newcls);
                                  }
                              }
                          }
                      }
                  );
              }
          {%  endfor %}
          //schedule next update
          setTimeout(updateData, 15000);
      }

    </script>
    <style>
        .hot {
            {# above 150 #}
            fill: red;
        }
        .very-warm {
            {# 120-150 #}
            fill: orange;
        }
        .warm {
            {# 90-120 #}
            fill: yellow;
        }
        .luke-warm {
            {# 60-90 #}
            fill: aliceblue;
        }
        .cool {
            {# 30-60 #}
            fill: skyblue;
        }
        .cold {
            {# below 30 #}
            fill: deepskyblue;
        }

        .center {
            text-align: center;
            vertical-align: center;
            border: aliceblue;
        }
    </style>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Automation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Zones
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for zone in zones %}
              <a class="dropdown-item" href="{% url 'view_zone' zone.name %}">{{ zone.name }}</a>
            {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
    <form role="form" action="/automation/dashboard/heating/all" method="get">
        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'MBR' %}"><h6 class="center">MBR</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="MBR">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'MBATH' %}"><h6 class="center">MBATH</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="MBATH">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'LIBRARY' %}"><h6 class="center">LIBRARY</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="LIBRARY">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="MBR-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="MBR-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="MBATH-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="MBATH-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="LIBRARY-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="LIBRARY-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row mt-1">
            <div id="MBR-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="MBATH-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="LIBRARY-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'KITCHEN' %}"><h6 style="text-align: center">KITCHEN</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="KITCHEN">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'LAUNDRY' %}"><h6 style="text-align: center">LAUNDRY</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="LAUNDRY">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'GARAGE' %}"><h6 style="text-align: center">GARAGE</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="GARAGE">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="KITCHEN-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="KITCHEN-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="LAUNDRY-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="LAUNDRY-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="GARAGE-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="GARAGE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="KITCHEN-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="LAUNDRY-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="GARAGE-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'FAMILY' %}"><h6 style="text-align: center">FAMILY ROOM</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="FAMILY">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'OFFICE' %}"><h6 style="text-align: center">OFFICE</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="OFFICE">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'EXERCISE' %}"><h6 style="text-align: center">EXERCISE</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="EXERCISE">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="FAMILY-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="FAMILY-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="OFFICE-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="OFFICE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="EXERCISE-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="EXERCISE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="FAMILY-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="OFFICE-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="EXERCISE-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'GUEST' %}"><h6 style="text-align: center">GUEST BR</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="GUEST">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="GUEST-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="GUEST-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="GUEST-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'VALVE' %}"><h6 style="text-align: center">VALVE</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="VALVE">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'BOILER' %}"><h6 style="text-align: center">BOILER</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="BOILER">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">BURN</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="VALVE-INSYS-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="VALVE-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="BOILER-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="BOILER-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="BOILER-BURN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="VALVE-TS" class="col-lg-4 col-xl-2 center">
                0000-00-00-00-00-00
            </div>
            <div id="BOILER-TS" class="col-lg-6 col-xl-3 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'WHEAT1' %}"><h6 style="text-align: center">WATER HEATER 1</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="WHEAT1">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
            </div>
            <div class="col-lg-2 col-xl-1">
                <a href="{% url 'view_zone' 'WHEAT2' %}"><h6 style="text-align: center">WATER HEATER 2</h6></a>
            </div>
            <div class="col-lg-2 col-xl-1">
                <div class="checkbox center">
                    <input type="checkbox" name="WHEAT2">
                </div>
            </div>
            <div class="col-lg-2 col-xl-1">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">BURN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">IN</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">OUT</h6>
            </div>
            <div class="col-lg-2 col-xl-1 border">
                <h6 style="text-align: center">BURN</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="WHEAT1-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="WHEAT1-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="WHEAT1-BURN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="WHEAT2-IN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="WHEAT2-OUT-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
            <div class="col-lg-2 col-xl-1 center border">
                <svg height="50" width="50">
                    <circle id="WHEAT2-BURN-LED" class="cold" cx="25" cy="25" r="20" stroke="black" stroke-width="2"></circle>
                    Sorry, your browser does not support inline SVG.
                </svg>
            </div>
        </div>
        <div class="row">
            <div id="WHEAT1-TS" class="col-lg-6 col-xl-3 center">
                0000-00-00-00-00-00
            </div>
            <div id="WHEAT2-TS" class="col-lg-6 col-xl-3 center">
                0000-00-00-00-00-00
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-xl-1 center">
                <div class="checkbox">
                    <label><input type="checkbox" name="ALL"> ALL</label>
                </div>
            </div>
            <div class="col-lg-2 col-xl-1 center">
                    <label for="tsel">History:</label>
            </div>
            <div class="col-lg-2 col-xl-1 center">
                <div class="form-group">
                    <select class="form-control" name="datapts" id="tsel">
                        <option value="360">1 hr</option>
                        <option value="1080">3 hr</option>
                        <option value="2160">6 hr</option>
                        <option value="4320">12 hr</option>
                        <option value="8640">24 hr</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-2 col-xl-1 center">
                <button type="submit" class="btn btn-default border">Compare</button>
            </div>
            <div class="col-lg-2 col-xl-1 center">
                <button type="submit" formaction="/automation/dashboard/heating/overlay" class="btn btn-default border">Overlay</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>
