<!DOCTYPE html>
<html lang="en">
<head>
    <title>Heating Zone</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.5/all/gauge.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script type="text/javascript">
        $( document ).ready(setupCharts);


        var gaugeIn;
        var gaugeOut;
        var lineChart;
		var chartConfig = {
			type: 'line',
			data: {
				labels: new Array(9000).fill(new Date()),
				datasets: [{
					label: 'IN',
                    borderColor: 'orange',
					fill: false,
                    pointRadius: 0,
					data: new Array(9000).fill(Number(0)),
				}, {
					label: 'OUT',
                    borderColor: 'skyblue',
					fill: false,
                    pointRadius: 0,
					data: new Array(9000).fill(Number(0)),
				}]
			},
			options: {
				title: {
					text: 'BOILER'
				},
				scales: {
					xAxes: [{
						type: 'time',
						scaleLabel: {
							display: true,
							labelString: 'Time'
						}
					}],
					yAxes: [{
					    min: 30,
                        max: 200,
						scaleLabel: {
							display: true,
							labelString: 'temp'
						}
					}]
				},
			}
		};

		function strToDate(its) {
            var year = Number(its.substr(0, 4));
            var month = Number(its.substr(5, 2))-1;
            var day = Number(its.substr(8, 2));
            var hour = Number(its.substr(11, 2));
            var minute = Number(its.substr(14, 2));
            var second = Number(its.substr(17, 2));

            return new Date(year, month, day, hour, minute, second);
        }


        function drawCharts() {
            gaugeIn.draw();
            gaugeOut.draw();
            lineChart.update();
        }


        function updateData(adata) {
            for (let sensor in adata['data']) {
                let slist = adata['data'][sensor]['data'];
                if (sensor.endsWith('-IN') || sensor.endsWith('-INSYS')) {
                    gaugeIn.value = Number(slist[0]['attributes']['value_real'])
                    // reverse load
                    let j = 9000;
                      for (let i=0; i < 9000; i++) {
                          --j;
                          chartConfig.data.labels[i] = strToDate(slist[j]['attributes']['timestamp']);
                          chartConfig.data.datasets[0].data[i] = Number(slist[j]['attributes']['value_real']);
                      }
                }
                else if (sensor.endsWith('-OUT')) {
                    gaugeOut.value = Number(slist[0]['attributes']['value_real'])
                    // reverse load
                    let j = 9000;
                      for (let i=0; i < 9000; i++) {
                          --j;
                          chartConfig.data.datasets[1].data[i] = Number(slist[j]['attributes']['value_real']);
                      }                }
            }
            drawCharts();
            setTimeout(startUpdate, 5000);
        }


        function startUpdate() {
            $.getJSON('http://192.168.0.134/dataserver/zones/BOILER/data',
                { 'datapts': 9000 },
                updateData);
        }


        function setupCharts() {
            gaugeIn = new RadialGauge({renderTo: 'gauge_in_div',
                width: 600, height: 300,
                units: 'F', minValue: 30, maxValue: 180,
                majorTicks: ['30', '50', '70', '90', '110', '130', '150', '180'],
                minorTicks: 5,
                highlights: [{ from: 30, to: 70, color: 'skyblue' },
                    { from: 70, to: 100, color: 'aliceblue' },
                    { from: 100, to: 130, color: 'yellow' },
                    { from: 130, to: 150, color: 'orange' },
                    { from: 150, to: 180, color: 'red' }
                ],
                valueBox: true,
                value: 30});
            gaugeOut = new RadialGauge({renderTo: 'gauge_out_div',
                width: 600, height: 300,
                units: 'F', minValue: 30, maxValue: 180,
                majorTicks: ['30', '50', '70', '90', '110', '130', '150', '180'],
                minorTicks: 5,
                highlights: [{ from: 30, to: 70, color: 'skyblue' },
                    { from: 70, to: 100, color: 'aliceblue' },
                    { from: 100, to: 130, color: 'yellow' },
                    { from: 130, to: 150, color: 'orange' },
                    { from: 150, to: 180, color: 'red' }
                ],
                valueBox: true,
                value: 30});
            var ctx = document.getElementById('chart_div').getContext('2d');
            lineChart = new Chart(ctx, chartConfig);
            startUpdate();
        }
    </script>
</head>
<body>
    <div class="container-fluid mt-3">
        <div class="row mt-3">
            <div class="col">
                <canvas id="gauge_in_div" style="width: 100%;"></canvas>
            </div>
            <div class="col">
                <canvas id="gauge_out_div" style="width: 100%;"></canvas>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <canvas id="chart_div" style="width: 100%;"></canvas>
            </div>
        </div>
    </div>
</body>
</html>
